HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.log
*.gz
.DS_Store

### Upload / Download ###
upload_files/**
download_files/**

# 保留資料夾
!upload_files/
!download_files/
!download_files/batch/

# 保留 gitkeep
!upload_files/.gitkeep
!download_files/.gitkeep
!download_files/batch/.gitkeep

### CSV ###
*.csv

# 保留範例檔
!src/main/resources/static/resources/sample_csv.csv